.player {
    text-align: center;
    margin: 3%;
    background-color: white;
    border-radius: 25px;
}

.img-avatar {
    width: 250px;
    height: 250px;
}

.team-avatar {
    width: 100px;
    height: 100px;
}

.text-color {
    color: var(--ion-color-success);
}