.lista {
    margin-left: 2%;
    margin-right: 2%;
    overflow-y: auto;
    width: 95%;
    height: 66%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.pre-lista {
    margin-top: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
    height: 7%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.middle-lista {
    align-content: center;
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
    height: 7%;
}