<ion-content color="light" *ngIf="!searching">

    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="leagues"></ion-back-button>
        </ion-buttons>
        <app-header title="League" *ngIf="leagueInfo"></app-header>

        <ion-buttons slot="end">
            <ion-icon slot="icon-only" name="trophy-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <app-header [title]='leagueInfo["Nombre De La Liga"]' [img]='leagueInfo["Logo de la Liga"]' *ngIf="leagueInfo"></app-header>
    <app-header title="Not found" img="../../../assets/icon/404.png" *ngIf="!leagueInfo"></app-header>


    <app-list [teams]="teams" *ngIf="teams" [leagueInfo]="leagueInfo" (refresh)="doRefresh($event)"></app-list>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="refresh-outline" refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
</ion-content>