<ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" *ngIf="!player">New player</ion-title>
    <ion-title class="ion-text-center" *ngIf="player">Edit player</ion-title>

    <ion-buttons slot="end">
        <ion-button (click)="close()" color="danger">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
<div class="newTeam ion-padding">
    <ion-item class="ion-margin">
        <ion-label>
            <h2>Team</h2>
            <p class="ion-text-center">
                <ion-card>
                    <ion-item>
                        <ion-avatar slot="start">
                            <img [src]='teamInfo["Logo del Equipo"] | imageSanitizer' />
                        </ion-avatar>
                        <ion-label>{{teamInfo["Nombre del equipo"]}}</ion-label>
                    </ion-item>
                </ion-card>
            </p>
        </ion-label>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label class="size-text" position="stacked">
            Player´s name
        </ion-label>
        <p>
            <ion-input [(ngModel)]="name"></ion-input>
            <ion-badge color="danger" mode="ios" *ngIf="!validName">it cant be empty</ion-badge>

        </p>
    </ion-item>

    <ion-item class="ion-margin">
        <ion-label class="size-text" position="stacked">
            Player´s avatar
        </ion-label>
        <ion-buttons slot="end">
            <ion-button (click)="generateLogo()" color="primary" shape="round" fill="solid">
                Generate
            </ion-button>
        </ion-buttons>
        <p class="ion-text-wrap explication">
            the avatar will be generated automatically based on the text you enter
        </p>
        <ion-input [(ngModel)]="logo"></ion-input>
        <p>
            <ion-badge color="danger" mode="ios" *ngIf="!validLogo">it cant be empty</ion-badge>
        </p>
    </ion-item>

</div>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="img.length > 0">
            <ion-avatar>
                <img [src]="img" />
            </ion-avatar>
            <ion-label>
                <h2>Player´s avatar</h2>
            </ion-label>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="close()" color="danger" shape="round" fill="solid">
                Cancel
            </ion-button>
            <ion-button (click)="save()" color="primary" shape="round" fill="solid" [disabled]="disabledButton">
                <ion-icon slot="end" name="save-outline"></ion-icon>
                Save
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>